@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

body{
    background-color: black; 

}

h1
{  font-family: 'Orbitron', sans-serif;
    font-size: 80px;
    color: #32cd32;
    text-align: center;
}

.date{
    letter-spacing: 4px;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.glow {
    letter-spacing: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

